<html>
    <head>
        {% block head %}
            <title>template page</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            Layout template
        {% endblock %}
    </body>
</html>